*{
    
    box-sizing: border-box;
}
:root{
    --bg: #000000;
    --fg: #ffffff;
    --art-fg: #000000;
    --art-bg: #ffffff;
    --warning: #ff9e20;
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
html, body{
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    color: var(--fg);
    touch-action: manipulation;
}

.main-order{
    display: flex;
    flex-direction: row;
}

#container{
    margin: 0;
    white-space: pre;
    font-family: monospace;
    font-size: 5px;
    line-height: 5px;
    letter-spacing: unset;
    transform: unset;
    color: var(--art-fg);
    height: 100dvh;
    text-align: center;
}
.controls{
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #000000aa;
    flex-shrink: 0;
    transition: transform 100ms ease-in;
    padding: 0 1rem 1rem 1rem;
}

#controls-header{
    display: flex;
}
#controls-header h3{
    font-family: "Quantico";
    font-size: 16pt;
    font-weight: 400;
    line-height: 24px;
    user-select: none;
}
#controls-header svg{
    display: none;
    transition: rotate 200ms ease-in;
}
.warning{
    background-color: var(--warning);
}

.inactive{
    display: none;
}

#width-warning{
    font-size: smaller;
    font-style: italic;
    margin: 0;
    padding-top: 0;
    text-align: center;
}

#character-inputs input[type=text]{
    width: 22px;
    background-color: var(--bg);
    color: var(--fg);
}
.rotated{
    rotate: 180deg;
}

#copy-dialog{
    opacity: 0;
    transition: all 200ms ease-in;
}

.dialog-show{
    opacity: 1;
}

.image-control{
    display: flex;
    flex-direction: column;
}

label{
    user-select: none;
}

.input-card{
    border: 1px solid;
    border-radius: 5px; 
    margin-bottom: 1rem;
    padding: 0;
}
.card-items{
    border: none;
    padding: 0;
    margin: .5rem 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.card-items *:not(legend){
    margin: .5rem;
    align-items: center;
}

.input-card legend{
    user-select: none;
    font-family: "Quantico";
    font-size: 12pt;
    font-weight: 400;
    line-height: 32px;
    float: left;
    background-color: #1a1a1a;
    border-bottom: 1px solid var(--fg);
    padding: 0;
    border-radius: 5px 5px 0 0;
    width: 100%;
    text-align: center;
    margin-bottom: .2rem;
}

.input-card input[type="range"] {
    appearance: none;
    -webkit-appearance: none;

    width: 100%;
    height: 10px;

    background-color: transparent;
    border: 2px solid var(--fg);
    box-shadow: inset 0 0 0 2px currentColor;

    cursor: pointer;
}

/* track */
.input-card input[type="range"]::-webkit-slider-runnable-track {
    height: 10px;
}

.input-card input[type="range"]::-moz-range-track {
    height: 10px;
}

/* thumb */
.input-card input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;

    width: 25px;
    height: 25px;

    background-color: var(--fg);
    border-radius: 0;
    margin-top: -7px;
}

.input-card input[type="range"]::-moz-range-thumb {
    width: 25px;
    height: 25px;

    background-color: var(--fg);
    border: none;
    border-radius: 0;
}

/* focus cleanup */
.input-card input[type="range"]:focus {
    outline: none;
}


.input-card input[type="number"]{
    -moz-appearance: textfield;
    margin: 0;
    color: var(--fg);
    background-color: var(--bg);
    border: 2px solid currentColor;
    border-radius: none;
    text-align: center;
}
.input-card input[type="number"]:focus{
    outline: 1px solid currentColor;
}
.input-card input[type="number"]::-webkit-inner-spin-button,
.input-card input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.input-card input[type="text"]{
    text-align: center;
    border: 2px solid currentColor;
}
.input-card input[type="text"]:focus{
    outline: 1px solid currentColor;
}
.input-card figure{
    padding: .3rem;
}

.input-card input[type="file"]{
    display: none;
}
.input-card output{
    user-select: none;
}
.input-card input[type="checkbox"] {
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 17px;
    height: 17px;

    background-color: var(--bg);
    border: 2px solid currentColor;
    border-radius: none;
    color: var(--fg);
    position: relative;
}

.input-card input[type="checkbox"]::after {
    content: "";
    position: absolute;
    inset: 3px;
    background-color: transparent;
}

.input-card input[type="checkbox"]:checked::after {
    background-color: var(--fg);
}
.image-control-options label{
    cursor: pointer;
}
.image-control-options div{
    margin: 0;
    display: flex;
}

.file-upload{
    display: inline-block;
    background-image: url(img/upload.svg);
    background-size: 24px;
    background-position: .5rem .1rem;
    background-repeat: no-repeat;
    width: 9rem;
    height: 32px;
    text-align: right;
    text-wrap-mode: nowrap;
    
}
.file-download{
    display: inline-block;
    background-image: url(img/download.svg);
    background-size: 24px;
    background-position: .5rem .1rem;
    background-repeat: no-repeat;
    width: 8rem;
    height: 32px;
    text-align: right;
    text-wrap-mode: nowrap;
    color: var(--fg);
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 16px;
    position: relative;
}

.download-options{
    display: none;
    position: absolute;
    transform: translate(100%, 25%);
    z-index: 1;
    color: var(--fg);
    transition: transform 100ms ease-in;
}
.download-options div{
    appearance: none;
    width: fit-content;
    height: 32px;
    border-radius: 5px;
    margin: 0;
    padding: .5rem;
    background-color: var(--bg);
    border: 1px solid var(--fg);
    line-height: 14px;
}
.download-options div:hover{
    background-color: #a7a7a7;

}

.file-download:hover div{
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 16px;
}

.copy-ascii{
    display: inline-block;
    background-image: url(img/copy.svg);
    background-size: 24px;
    background-position: .5rem .2rem;
    background-repeat: no-repeat;
    width: 9rem;
    height: 32px;
    text-align: right;
    text-wrap-mode: nowrap;

}

.button{
    border: 1px solid var(--fg);
    border-radius: 5px;
    padding: .5rem;
    cursor: pointer;
    transition: all 100ms ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button:hover{
    background-color: #a7a7a7;
}

.button p{
    margin: 0;
    width: 100%;
}

.footer{
    position: fixed;
    bottom: 0;
    background-color: var(--bg);
    color: var(--fg);
    width: 60%;
    margin: 0 0 0 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    text-align: center;
    line-height: 32px;
}

@media screen and (max-width: 768px) {
    body{
        overflow: hidden;
    }
    main{
        overflow: hidden;
    }
    #container{
        position: relative;
        top: 32px;
        overflow-x: scroll;
    }
    .main-order{
        display: flex;
        flex-direction: column-reverse;
    }
    .controls{
        z-index: 1;
        padding: 0;
        width: 100dvw;
        position: absolute;
        bottom: 0;
    }
    #controls-header{ 
        cursor: pointer;
    }
    #controls-header svg{
        display: block;
    }
    .download-options{
        transform: translate(0%, 75%);
    }
    .footer{
        top: 0;
        bottom: initial;
        width: 100%;
    }
}

